<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>Servlets.LoginPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>Servlets.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewAccountPageServlet</servlet-name>
    <servlet-class>Servlets.NewAccountPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticsPageServlet</servlet-name>
    <servlet-class>Servlets.StatisticsPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultiplayerServlet</servlet-name>
    <servlet-class>Servlets.MultiplayerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JoinPageServlet</servlet-name>
    <servlet-class>Servlets.JoinPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SingleplayerPageServlet</servlet-name>
    <servlet-class>Servlets.SingleplayerPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HostPageServlet</servlet-name>
    <servlet-class>Servlets.HostPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HostPageExtendServlet</servlet-name>
    <servlet-class>Servlets.HostPageExtendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InstructionPageServlet</servlet-name>
    <servlet-class>Servlets.InstructionPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BlackJackPageServlet</servlet-name>
    <servlet-class>Servlets.BlackJackPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnoPageServlet</servlet-name>
    <servlet-class>Servlets.UnoPageServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewAccountPageServlet</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticsPageServlet</servlet-name>
    <url-pattern>/stats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiplayerServlet</servlet-name>
    <url-pattern>/multiplayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JoinPageServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  <servlet-name>SingleplayerPageServlet</servlet-name>
    <url-pattern>/singleplayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HostPageServlet</servlet-name>
    <url-pattern>/host</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HostPageExtendServlet</servlet-name>
    <url-pattern>/hostextend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstructionPageServlet</servlet-name>
    <url-pattern>/instructions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlackJackPageServlet</servlet-name>
    <url-pattern>/blackjack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnoPageServlet</servlet-name>
    <url-pattern>/uno</url-pattern>
  </servlet-mapping>
  </web-app>