.split {
    height: 100%;
    width: 50%;
    
    z-index: 1;
    overflow-x: hidden;
    padding-top: 5px;
    display: inline-block;
}

#players {
    bottom: 0;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#player1 {
    left: 0;
    width: 49.7%;
    float: left;
    height: 98%;
    
}

#playermain {
    
    left: 0;
    width: 49.7%;
    float: left;
    height: 96%;
}

#playeralt {
    right: 0;
    width: 49.4%;
    height: 98%;
    
}

#player2 {
    right: 0;
    width: 49.7%;
    height: 98%;
}

#deck {
    top: -10;
    position: fixed;
    left: 0;
    right: 0;
    height: 42%;
}

button.ButtonStyle {
    width: 190px;
    padding: 12px 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #3b3b3b;
    text-align: center;
}

.center {
    text-align: center;
}

#centers {
    text-align: center;
    font-size: 200%; 
    color: #ffffff; 
    background-color: #3b3b3bb4;
    border-radius: 150px;
    width: 64%; 
    margin: auto 18% auto 18%;
}

#Hit {	
    text-align: center;
}

#pili {
	width: 20%;
	max-width: 20%;
	height: auto;
    margin-left: -8%;
}

#pili:nth-child(1) {
    margin-left: 2.5%;
    align-items: center;
}

#imgCenter {
    text-align: center;
}

.cards {
	margin: auto;
	text-align: center;
}

