.split {
    height: 100%;
    width: 50%;
    
    z-index: 1;
    overflow-x: hidden;
    padding-top: 5px;
    display: inline-block;
}

#players {
    bottom: 0;
    border: 2px solid green;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#player1 {
    border: 2px solid red;
    left: 0;
    width: 49.7%;
    float: left;
    height: 98%;
    
}

#playermain {
    
    left: 0;
    width: 49.7%;
    float: left;
    height: 96%;
}

#playeralt {
    right: 0;
    width: 49.4%;
    height: 98%;
    
}

#player2 {
    right: 0;
    width: 49.7%;
    height: 98%;
    border: 2px solid orange;
}

#deck {
    top: -10;
    border: 2px solid turquoise;
    position: fixed;
    left: 0;
    right: 0;
    height: 42%;
}

button.ButtonStyle {
    width: 190px;
    padding: 12px 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #3b3b3b;
    text-align: center;
}

.center {
    text-align: center;
}

#centers {
    text-align: center;
}

#Hit {	
    text-align: center;
    margin-left: 37.8%;
}

#pili {
    margin-left: -8%;
}

#pili:nth-child(1) {
    margin-left: 2.5%;
    align-items: center;
}

#imgCenter {
    margin-left: 38%;
    margin-top: 4%;
}

.cards {
    margin-left: 40%;
    margin-top: 4%;
}

