.buttons{
	margin-top: 5%;
    text-align: center;
    /*border: 0px solid blue;*/
}

.radbuttons{
    text-align: left;
    margin-right: 25%;
   /* border: 2px solid green;*/
}

.buttspace{
    margin-right: 20%;
    /*border: 2px solid green;*/
}

#bootybutt{
    margin-top: 5%;
    /*border: 2px solid blue;*/
}




