
.subtopic {
    font-size: 50px;
    text-align: right;
    margin: 30px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
}

#left {
  position: absolute;
	top: 10px;
  float: left;
  clear: both;
}

#topic {
  text-align: center;
  margin-top: 75px; 
  color:white;
}

.types {
  text-decoration: underline;
  text-align: center;
  height: 200px;
    width: 400px;
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}



body{color:#444;font:100%/1.4 sans-serif;}


.ckb{
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.ckb > input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* RADIO & CHECKBOX STYLES */
/* DEFAULT <i> STYLE */
.ckb > i{ 
  display: inline-block;
  vertical-align: middle;
  width:  16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid gray;
  background: gray;
}
/* CHECKBOX OVERWRITE STYLES */
.ckb > i {
  width: 25px;
  border-radius: 3px;
}

/* CHECKBOX */
.ckb > input + i:after{
  content: "";
  display: block;
  height: 12px;
  width:  12px;
  margin: 2px;
  border-radius: inherit;
  transition: inherit;
  background: gray;
}
.ckb > input:checked + i:after{ /* (RADIO CHECKED) <i> STYLE */
  margin-left: 11px;
  background:  cyan;
}

.difficulty-slider {
    border-bottom: 4px solid #000;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
    padding-bottom: 0.25em;
    margin: 1cm auto;
    position: relative;
    width: 20em;
  }
  .difficulty-slider::after{
    content: '';
    display: table; width: 100%; clear: both;
  }
  .difficulty-slider input[type="radio"] {
    display: none;
  }
  .difficulty-slider label {
    color: #bebebe;
    float: left;
    width: 16.6666666667%;
    text-align: center;
    cursor: pointer;
    transition: color .5s;
    text-shadow: -1px -1px 0 black;
  }
  .difficulty-slider label:hover {
    text-decoration: none;
  }
  .difficulty-slider input:checked + label {
    color: white;
  }
  .difficulty-slider label:last-of-type::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 0.6em solid transparent;
    border-top-width: 0;
    border-bottom-color: #1CA2FF;
    position: absolute;
    bottom: -5px;
    left: 0;
    margin-left: -0.6em;
    transition: left 0.5s;
  }
  .difficulty-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
    left: 8.333333333333332%;
  }
  .difficulty-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
    left: 25%;
  }
  .difficulty-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
    left: 41.66666666666667%;
  }
  .difficulty-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
    left: 58.333333333333336%;
  }
  .difficulty-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
    left: 75%;
  }
  .difficulty-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
    left: 91.66666666666666%;
  }


  .player-slider {
    border-bottom: 4px solid #000;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
    padding-bottom: 0.25em;
    margin: 1em auto;
    position: relative;
    width: 20em;
  }
  .player-slider::after{
    content: '';
    display: table; width: 100%; clear: both;
  }
  .player-slider input[type="radio"] {
    display: none;
  }
  .player-slider label {
    color: #bebebe;
    float: left;
    width: 16.6666666667%;
    text-align: center;
    cursor: pointer;
    transition: color .5s;
    text-shadow: -1px -1px 0 black;
  }
  .player-slider label:hover {
    text-decoration: underline;
  }
  .player-slider input:checked + label {
    color: white;
  }
  .player-slider label:last-of-type::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 0.6em solid transparent;
    border-top-width: 0;
    border-bottom-color: #1CA2FF;
    position: absolute;
    bottom: -5px;
    left: 0;
    margin-left: -0.6em;
    transition: left 0.5s;
  }
  .player-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
    left: 8.333333333333332%;
  }
  .player-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
    left: 25%;
  }
  .player-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
    left: 41.66666666666667%;
  }
  .player-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
    left: 58.333333333333336%;
  }
  .player-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
    left: 75%;
  }
  .player-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
    left: 91.66666666666666%;
  }


  .bot-slider {
    border-bottom: 4px solid #000;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.15);
    padding-bottom: 0.25em;
    margin: 1em auto;
    position: relative;
    width: 20em;
  }
  .bot-slider::after{
    content: '';
    display: table; width: 100%; clear: both;
  }
  .bot-slider input[type="radio"] {
    display: none;
  }
  .bot-slider label {
    color: #bebebe;
    float: left;
    width: 16.6666666667%;
    text-align: center;
    cursor: pointer;
    transition: color .5s;
    text-shadow: -1px -1px 0 black;
  }
  .bot-slider label:hover {
    text-decoration: underline;
  }
  .bot-slider input:checked + label {
    color: white;
  }
  .bot-slider label:last-of-type::after {
    display: block;
    width: 0;
    height: 0;
    content: "";
    border: 0.6em solid transparent;
    border-top-width: 0;
    border-bottom-color: #1CA2FF;
    position: absolute;
    bottom: -5px;
    left: 0;
    margin-left: -0.6em;
    transition: left 0.5s;
  }
  .bot-slider input:checked:nth-of-type(1) ~ label:last-of-type::after {
    left: 8.333333333333332%;
  }
  .bot-slider input:checked:nth-of-type(2) ~ label:last-of-type::after {
    left: 25%;
  }
  .bot-slider input:checked:nth-of-type(3) ~ label:last-of-type::after {
    left: 41.66666666666667%;
  }
  .bot-slider input:checked:nth-of-type(4) ~ label:last-of-type::after {
    left: 58.333333333333336%;
  }
  .bot-slider input:checked:nth-of-type(5) ~ label:last-of-type::after {
    left: 75%;
  }
  .bot-slider input:checked:nth-of-type(6) ~ label:last-of-type::after {
    left: 91.66666666666666%;
  }