/* set font for all jsp pages */
* {
    font-family: 'Ubuntu', sans-serif;
}

/* set a static background for applicable pages */
.StaticBackground {
	background-image: url(Back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #151019;
    color: #ffffff;
    margin: 0;

    transition: opacity 3s ease-in-out;
    transition: all 2s ease;
    -webkit-animation: fade 4s infinite;
    -moz-animation: fade 4s infinite;
    -o-animation: fade 4s infinite;
    animation: fade 4s infinite;
    opacity: 1;
}

#foreground {
	width:100%;
	max-height: 100%;
	position:absolute; /*You may also use fixed depending on your needs.*/
	left:0;
	top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
	z-index: 999;
}

.BlackJack {
    background-image: url(images/BlackJack_Back.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #151019;
    color: #ffffff;
    margin: 0;
}

/* create the back button position - top right */
.BackButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* create the header ie: multiplayer style */
.HeaderStyle {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #ffffff;
	font-weight: bolder;
    text-align: left;
    margin-left: 5px;
    font-size: 30px;
}

/* create a standard for button inputs */
button.ButtonStyle {
    width: 200px;
    padding: 12px 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #3b3b3b;
    text-align: center;
}

/* create a standard for input based forms */
.FormStyle {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
.FormStyle input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    background: #3b3b3b;
    color: white;
    border-radius: 15px;
    width: 400px;
    clear: both;
}

/* create a standard for input sections */
.InputStyle {
    padding: 15px;
    display: block;
}