/* set font for all jsp pages */
* {
    font-family: 'Ubuntu', sans-serif;
}

/* set a static background for applicable pages */
.StaticBackground {
	background-image: url(Back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #151019;
    margin: 0;
}

/* create the back button position - top right */
.BackButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* create the header ie: multiplayer style */
.HeaderStyle {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #ffffff;
	font-weight: bolder;
    text-align: left;
    margin-left: 5px;
    font-size: 30px;
}

/* create a standard for button inputs */
button.ButtonStyle {
    width: 200px;
    padding: 12px 10px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 15px;
    background-color: #3b3b3b;
    text-align: center;
}

/* create a standard for input based forms */
.FormStyle {
    width: 100%;
}
.FormStyle input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    background: #3b3b3b;
    color: white;
    border-radius: 15px;
    width: 400px;
}

/* create a standard for input sections */
.InputStyle {
    padding: 15px;
    display: block;
}