#topic {
    text-align: center;
    margin-top: 4%;
    
}

#right {
    float: right;
    clear: both;
    margin-top: 75px; 
    color:white;
}

button.right {
    width: 200px;
    
    padding: 12px 10px;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    background-color: #3b3b3b;
}

button.branch {
    width: 250px;
    height: 100px;
    padding: 12px 10px;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    background-color: #3b3b3b;

    margin-top: 4%;
    margin-left: 42%;
}