* {
	font-family: 'Ubuntu', sans-serif;
}

body {
    background-image: url(Back.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    background-color: #151019;
    margin: 0;
}

.BackButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

.PlayButton {
	margin-left: 50%;
	position: absolute;
	bottom: 0;
	margin-bottom: 50px;
}