#globalrank{
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    width: 35%;
    height: 600px;
    text-align: center;
    font-size: 50px;
    border: 2px solid blue;
    color: white;
}

#stats{
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    width: 45%;
    height: 600px;
    text-align: left;
    font-size: 50px;
    border: 2px solid greenyellow;
    color: white;
}

#tit{
    text-align: center;
    font-size: 50px;
}

#tits{
    text-align: center;
    font-size: 50px;
}

#text{
    font-size: 100px;
}

#glob{
    margin-top: 5%;
    height: 700px;
}

.buttspace{
    margin-right: 8%;
    margin-left: 11%;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=radio] + img {
    cursor: pointer;
  }

  [type=radio]:checked + img {
    outline: 4px solid orangered;
  }

#bootybutt{
    margin-top: 5%;
}

#info{
    text-align: center;
    color: white;
    /* font-size: 100px; */
    border: 2px solid red;
}

img {
    max-width: 5%;
    height:auto;
}










