html, body {
    height:98%;
   }
   .container {
    position:relative;
    width: 99%;
    height: 96%;
   }
   .top {
    height: 20%;
    width: 100%;
    border: 5px solid red;
   }
   .left {
    position:absolute;
    top:50px;
    left:0;
    bottom:50px;
    width: 25%;
    border: 5px solid green;
   }
   .right {
    position:absolute;
    top:50px;
    right:0;
    bottom:50px;
    width: 25%;
    border: 5px solid gold;
   }
   .bottom {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 25%;
    border: 5px solid blue;
   }
   .content {
    position:absolute;
    top:30%;
    left:30%;
    right:30%;
    bottom:30%;
    border: 5px solid lightgreen;
    overflow:visible;
   }

   #imgCenter {
    margin: auto;
    text-align: center;

}

#pili {
	width: 60%;
	max-width: 60%;
	height: auto;
    margin-left: -8%;
}