html, body {
    height:98%;
   }

.container {
    position:relative;
    width: 99%;
    height: 96%;
}

.top {
    height: 20%;
    width: 100%;
    
}

.left {
    position:absolute;
    top:50px;
    left:0;
    bottom:50px;
    width: 25%;
    
}

.right {
    position:absolute;
    top:50px;
    right:0;
    bottom:50px;
    width: 25%;
}

.bottom {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 25%;
    
}
.content {
    position:absolute;
    top:30%;
    left:30%;
    right:30%;
    bottom:30%;
    
    overflow:visible;
}

#imgCenter {
    width: 100%;
    height: 100%;
    text-align: center;
}

#pili {
	width: 30%;
	max-width: 30%;
	height: auto;
    margin-left: -26%;
    text-align: center;
    display:inline;
}

#piliTop {
    transform: rotate(180deg);
	width: 20%;
	max-width: 5%;
	height: auto;
    text-align: center;
    margin-left: -8%;
}

#piliRight {
    transform: rotate(270deg);
	width: 20%;
	max-width: 20%;
	height: auto;
    text-align: center;
    margin-bottom:-16%;
    
}

#piliLeft {
    transform: rotate(90deg);
	width: 20%;
	max-width: 20%;
	height: auto;
    margin-bottom:-16%;
   
    
}

#centers {
    text-align: center;
    font-size: 200%; 
    color: #ffffff; 
    background-color: #3b3b3bb4;
    border-radius: 150px;
    width: 64%; 
    margin: auto 18% auto 18%;
}

#centersSides {
    z-index: 1;
    text-align: center;
    font-size: 200%; 
    color: #ffffff; 
    background-color: #3b3b3bb4;
    border-radius: 150px;
    width: 64%; 
    margin: auto 18% auto 18%;
    margin-top: 25%;
}

.cards {
	/*margin: auto;*/
	text-align: center;
}

#pili:nth-child(1), #piliTop:nth-child(1) {
    margin-left: 2.5%;
    align-items: center;
}

.centerDeck {
    max-width: 50%;
    width: 50%;
    height: auto;
}

#imgCenter {
    text-align: center;
}

.split {
    height: 100%;
    width: 48.5%;
    
    z-index: 1;
    overflow-x: hidden;
    padding-top: 5px;
    display: inline-block;
}

.splitHeight {
    border: 3px solid orangered;
    height: 25%;
    width: auto;
    
    z-index: 1;
    overflow-x: hidden;
    display: inline-block;
}

img {
    height:auto;
    object-fit: cover; 
    max-width: 100%;    
}

[type=submit] + img {
    cursor: pointer;
}

.deck {
    width: 50%;
    max-width: 50%;
    height: auto;
}

.decks img{
    width: auto;

    height:400%;
    /*height: auto;
    text-align:center;
    background: none; 
    border: none;*/
}

.IFHY {
    /*padding: 0;
    border: 0;
    background: transparent;
    background-color: #00000000;*/
    width:fit-content;
    height: fit-content;
    cursor: pointer;
}

#blue {
    height: 50%;
    width: 99%;
    
    z-index: 2;
    background-color: blue;
}

#green {
    height: 50%;
    width: 99%;
    z-index: 2;
    background-color: green;
}

#red {
    height: 50%;
    width: 99%;
    z-index: 2;
    background: red;
}

#yellow {
    height: 50%;
    width: 99%;
    z-index: 2;
    background-color: yellow;
}

.dotRed {
    width: 12%;
    padding-top: 12%;
    background-color: #ff0000;
    border-width: 2px;
    border-color: #000000;
    border-radius: 50%;
    /*
    display: inline-block;
    position: absolute;
    top: 74%;
    */
  }
  
  .dotBlue {
    width: 12%;
    padding-top: 12%;
    background-color: #0000ff;
    border-width: 2px;
    border-color: #000000;
    border-radius: 50%;
    /*
    display: inline-block;
    position: absolute;
    top: 74%;
    */
  }
  
  .dotYellow {
    width: 12%;
    padding-top: 12%;
    background-color: #ffff00;
    border-width: 2px;
    border-color: #000000;
    border-radius: 50%;
    /*
    display: inline-block;
    position: absolute;
    top: 74%;
    */
  }
  
  .dotGreen {
    width: 12%;
    padding-top: 12%;
    background-color: #00ff00;
    border-width: 2px;
    border-color: #000000;
    border-radius: 50%;
    /*
    display: inline-block;
    position: absolute;
    top: 74%;
    */
  }

  * {
    box-sizing: border-box;
  }
  html,
  body,
  form {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: 0 0 absolute;

  }
  .box {
    width: 50%;
    height: 50%;
    float: left;
  }
  
  .box:last-child::after {
    display: table;
    content: '';
    clear: both;
  }