html, body {
    height:98%;
   }
   .container {
    position:relative;
    width: 99%;
    height: 96%;
   }
   .top {
    height: 20%;
    width: 100%;
    
   }
   .left {
    position:absolute;
    top:50px;
    left:0;
    bottom:50px;
    width: 25%;
    
   }
   .right {
    position:absolute;
    top:50px;
    right:0;
    bottom:50px;
    width: 25%;
    
   }
   .bottom {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 25%;
    
   }
   .content {
    position:absolute;
    top:30%;
    left:30%;
    right:30%;
    bottom:30%;
    
    overflow:visible;
   }

   #imgCenter {
    text-align: center;
}

#pili {
	width: 20%;
	max-width: 20%;
	height: auto;
    margin-left: -8%;
    position: fixed;
    text-align: center;
    display:inline;
}

#piliTop {
    transform: rotate(180deg);
	width: 20%;
	max-width: 5%;
	height: auto;
    margin-left: -8%;
}

#piliRight {
    transform: rotate(-90deg);
	width: 20%;
	max-width: 20%;
	height: auto;
    margin-top: 34%;
}

#piliLeft {
    transform: rotate(90deg);
	width: 20%;
	max-width: 20%;
	height: auto;
    margin-top: 38%;
}

#centers {
    text-align: center;
    font-size: 200%; 
    color: #ffffff; 
    background-color: #3b3b3bb4;
    border-radius: 150px;
    width: 64%; 
    margin: auto 18% auto 18%;
}

#centersSides {
   
    z-index: 1;
    text-align: center;
    font-size: 200%; 
    color: #ffffff; 
    background-color: #3b3b3bb4;
    border-radius: 150px;
    width: 64%; 
    margin: auto 18% auto 18%;
    margin-top: 25%;
}

.cards {
	margin: auto;
	text-align: center;
}

#pili:nth-child(1), #piliTop:nth-child(1) {
    margin-left: 2.5%;
    align-items: center;
}

#piliLeft:nth-child(1), #piliRight:nth-child(1) {
    align-items: center;
    



    
}

.centerDeck {
    max-width: 50%;
    width: 50%;
    height: auto;
    
}

#imgCenter {
    text-align: center;
}

#fourColors {

}

.split {
    border: 3px solid orangered;
    height: 100%;
    width: 48.5%;
    
    z-index: 1;
    overflow-x: hidden;
    padding-top: 5px;
    display: inline-block;
}

img {
    max-width: 5%;
    height:auto;
}

[type=button] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  [type=button] + img {
    cursor: pointer;
  }

  .deck {
    width: 50%;
	max-width: 50%;
	height: auto;
  }